/* You can add global styles to this file, and also import other style files */
:root {
  --main_color: #fffdf3;
  --text_color: #726d5f;
}

html {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  min-width: fit-content;
  min-height: fit-content;
}

body {
  color: var(--main_color);
  background-color: var(--main_color);
}

h1,
h2 {
  font-family: "Parisienne", cursive;
  color: var(--text_color);
}

.navbar-nav .nav-link.active {
  color: var(--text_color);
}

.navbar-nav .nav-link {
  color: var(--text_color);
}

nav {
  background-color: var(--main_color);
}

table {
  font-family: "Montserrat", sans-serif;
  color: var(--text_color);
}

thead {
  color: var(--text_color);
  background-color: var(--main_color);
}

tbody {
  color: var(--text_color);
}

label {
  color: black;
}

ul,
li,
a,
p {
  color: var(--text_color);
}

#btnReserve,
#btnEditar {
  color: #f5f5f5;
}

a {
  text-decoration: underline;
}
