<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://joaodiasdev.com">
      <img src="../assets/images/logo-1.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
    </a>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <h1>
            <a class="nav-link active" routerLink="products">Chá de Panela</a>
          </h1>
        </li>
        <li class="nav-item">
          <h1>
            <a class="nav-link" routerLink="products/add">Adicionar Produto</a>
          </h1>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
